/* GENERAL STYLES*/
body {
	background-color: #F1EFEF;
	background-image: url(../img/tile-bg.png);
	background-attachment: fixed;
	background-size: 360px;
	background-repeat: repeat;
}

hr {
	margin-left: 10px;
	margin-right: 10px;
}

h4 {
	color: black;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
}

a {
	color: black;
}



/* LOGIN PAGE */
#login-page {
	background-color: #F1EFEF;
	background-image: url(../img/code-bg.jpg);
	background-attachment: fixed;
	background-size: 100%;
}

.form-entry {
	color: black;
}

.signup-form {
	background-color: white;
	border-style: solid;
	border-color: #F3F3F3;
	border-width: 5px;
	/*opacity: 0.95;*/
}



/* NAVBAR STYLES */
#dyna-nav {
	opacity: 0.95;
	background-color: #FFFFFF;
}

#logo {
	color: black;
	font-family: 'Roboto', cursive;
}

.nav-icon {
	color: black;
	font-size: 25px;
}

.nav-search {
	color: black;
	font-size: 20px;
}

#search-bar {
	width: 100px;
}



/* PROFILE DIV */
.profile-content {
	background-color: white;
	border-style: solid;
	border-color: #F3F3F3;
	border-width: 1px;
}

.edit-icon {
	color: black;
	font-size: 40px;
	margin-top: 10px;
}



/* INTRO SECTION */
.username {
	margin-left: -12px;
	line-height: 28px;
}

.profile-pic {
	width: 80%;
	max-width: 80%;
	height: auto;
	margin-top: 20px;
}

.profile-bio {
	color: black;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}



/* SKILL SECTION */
.progress {
	height: 15px;
}

.skill-div {
	margin-bottom: 0px;
	margin-top: 0px
}

.hundred {
	width: 100%;
}

.ninety-five {
	width: 95%;
}

.ninety {
	width: 90%;
}

.eighty-five {
	width: 85%;
}

.eighty {
	width: 80%;
}

.seventy-five {
	width: 75%;
}

.seventy {
	width: 70%;
}

.sixty-five {
	width: 65%;
}

.sixty {
	width: 60%;
}

.fifty-five {
	width: 55%;
}

.fifty {
	width: 50%;
}

.forty-five {
	width: 45%;
}

.forty {
	width: 40%;
}

.thirty-five {
	width: 35%;
}

.thirty {
	width: 30%;
}

.twenty-five {
	width: 25%;
}

.twenty {
	width: 20%;
}

.fifteen {
	width: 15%;
}

.ten {
	width: 10%;
}

.five {
	width: 5%;
}

.zero {
	width: 0%;
}



/* PROJECT SECTION */
.img-cell {
	height: 285px;
	margin-bottom: 2%;
	overflow: hidden;
}

.post-pic-gallery {
	min-width: 80%;
	max-width: 80%;
}


/* NETWORK SECTION */

.arrow {
	font-size: 35px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 12px;
}



/* CONTACT SECTION */

.contact-div {
	background-image: url(../img/contact-bg6.png);
	margin-left: -12px;
	margin-right: -12px;
}

.form-label {
	color: black;
}
